@page
@model Obligatorisk_OPG.ViewDormitoryModel

<style>
    body {
        background-color: #333;
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
    }

    table {
        border-collapse: separate;
        border-spacing: 0;
        width: 100%;
        margin-bottom: 1rem;
        background-color: #444;
        border: 1px solid rgba(255, 255, 255, 0.1);
        color: #fff;
        padding: 10px 0;
    }

    th,
    td {
        padding: 0.75rem;
        text-align: left;
        vertical-align: top;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    }

    th {
        background-color: #555;
        font-weight: 600;
    }

    tr:nth-child(even) {
        background-color: #555;
    }

    a.button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #FFD700;
        color: #000;
        text-decoration: none;
        border-radius: 4px;
        margin-right: 10px;
    }

    a.button:hover {
        background-color: #FFA500;
        color: #000;
    }

    h1 {
        font-size: 24px;
        margin-bottom: 20px;
        font-weight: 600;
    }
</style>

<h1>List of Dormitories</h1>

<table>
    <thead>
        <tr>
            <th colspan="3">Dormitories</th>
        </tr>
        <tr>
            <th>Dormitory Number</th>
            <th>Name</th>
            <th>Address</th>
            <th>Show Rooms in Dormitory</th>
            <th>Show Room With Students</th>
            <th>Show Rooms With Leasing</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Dormitories)
        {
                <tr>
                    <td>@item.Dormitory_No</td>
                    <td>@item.Name</td>
                    <td>@item.Address</td>
                    <td>
                        <a class="button" asp-page="/Room/GetRoom_Dormitory" asp-page-handler="GetRoom_Dormitory" asp-route-aid="@item.Dormitory_No">Show Rooms</a>
                    </td>
                    <td>
                        <a class="button" asp-page="/Dormitory/GetStudent_Room" asp-page-handler="GetStudent_Room" asp-route-did="@item.Dormitory_No">Show Students</a>
                    </td>
                    <td>
                        <a class="button" asp-page="/Dormitory/GetLeasing_Room" asp-page-handler="GetLeasing_Room" asp-route-lid="@item.Dormitory_No">Show Leasing</a>
                    </td>
                </tr>
        }
    </tbody>
</table>
