@page
@model Obligatorisk_OPG.GetRoomsModel
@{
}

<h4 style="color:red"> List of Rooms</h4>
<table class="table">
    <thead>
        <tr>
            <th> Room Number </th>
            <th> Type </th>
            <th> Price </th>
        </tr>
    </thead>
    <tbody>

        @*  @if (Model.Dormitory != null)
        {
        <tr>
        <td>  @Model.Dormitory.Dormitory_No </td>
        <td> @Model.Dormitory.Name </td>
        <td> @Model.Dormitory.Address </td>
        </tr>
        }*@


        @* else if (Model.Dormitory != null)*@

        @foreach (var item in Model.Rooms)
        {
            <tr>
                <td>  @item.RoomNo </td>
                <td> @item.Types </td>
                <td> @item.Price </td>

            </tr>
        }


</table>
