@page
@model Obligatorisk_OPG.GetAllStudentsModel
@{
    ViewData["Title"] = "List of Students";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <style>
        body {
            background-color: #333;
            color: #fff;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
        }

        .btn-primary {
            outline none;
            background-color: #FFD700;
            color: #000;
            border-radius: 4px;
            padding: 10px 20px;
            text-decoration: none;
        }

        table {
            border-collapse: separate;
            border-spacing: 0;
            width: 100%;
            margin-bottom: 1rem;
            background-color: #444;
            border: 1px solid rgba(255, 255, 255, 0.1);
            color: #fff;
            padding: 10px 0;
        }

        th,
        td {
            padding: 0.75rem;
            text-align: left;
            vertical-align: top;
            border-top: 1px solid rgba(255, 255, 255, 0.1);
        }

        th {
            background-color: #555;
            font-weight: 600;
        }

        tr:nth-child(even) {
            background-color: #555;
        }

        a.button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #FFD700;
            color: #000;
            text-decoration: none;
            border-radius: 4px;
            margin-right: 10px;
        }

            a.button:hover {
                background-color: #FFA500;
                color: #000;
            }

        h1 {
            font-size: 24px;
            margin-bottom: 20px;
            font-weight: 600;
        }

        form {
            margin-bottom: 10px;
        }

        input[type="text"] {
            padding: 5px;
            margin-right: 10px;
        }
    </style>
</head>
<body>
    <h1>List of Students</h1>

    <form>
        <p>
            Search By Address: <input type="text" asp-for="AdressCriteria" />
            <input type="submit" value="Filter" />
            <a asp-page="/Student/GetAllStudents">Back to Full List</a>
        </p>
    </form>

    <form>
        <p>
            Search By ID: <input type="text" asp-for="IdCriteria" />
            <input type="submit" value="Filter" />
            <a asp-page="/Student/GetAllStudents">Back to Full List</a>
        </p>
    </form>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model.Students)
            {
                <tr>
                    <td>@student.Student_No</td>
                    <td>@student.Name</td>
                    <td>@student.Address</td>
                    <td>
                        <p>
                            <a asp-page="/Leasing/GetLeasing_Student" asp-page-handler="GetLeasing_Student" asp-route-aid="@student.Student_No" class="button">Show Leasings for Student</a>
                        </p>
                    </td>
                    <td>
                        <p>
                            <a asp-page="/Student/DeleteStudent" asp-page-handler="DeleteStudent" asp-route-sid="@student.Student_No" class="button">Delete Student</a>
                        </p>
                    </td>


            </tr>
        }
        </tbody>

        
</table>

</body>

</html>

