@page
@model Obligatorisk_OPG.GetAllStudentsModel
@{
    ViewData["Title"] = "GetStudents";
}
<h1>Students</h1>

<p>
    <a asp-page="/Student/GetAllStudents">GetAllStudents New Student</a>
</p>

<form>
    <p>
        Search By Adress: <input type="text" asp-for="AdressCriteria" />
        <input type="submit" value="Filter" />
        <a asp-page="/Student/GetAllStudents">Back to Full List </a>
    </p>
</form>
<form>
    <p>
        Search By Id: <input type="text" asp-for="IdCriteria" />
        <input type="submit" value="Filter" />
        <a asp-page="/Student/GetAllStudents">Back to Full List </a>
    </p>
</form>

<h4 style="color:red"> List of students</h4>
<table class="table">
    <thead>
        <tr>
            <th> 
                Id 
           </th>
            <th>
                Name
           </th>
            <th> 
                Adress
           </th>
        </tr>
    </thead>
    <tbody>

         @if(Model.Student != null)
        { 
        <tr>
            <td>  @Model.Student.Student_No </td>
            <td> @Model.Student.Name </td>
            <td> @Model.Student.Address </td>
            </tr>
            }

        else if (Model.Students != null)

            @foreach (var student in Model.Students)
            {
                <tr>
                    <td>  @student.Student_No </td>
                    <td> @student.Name </td>
                    <td> @student.Address </td>
                    <td>
                        <p>
                            <a asp-page="/Names/GetNames" asp-page-handler="NamesByStudents" asp-route-aid="@student.Student_No"> Student´s names  </a>
                        </p>
                    </td>
                    <td>
                        <p>
                            <a asp-page="/Names/Create" asp-route-id="@student.Student_No">New Name</a>
                        </p>
                    </td>

                    <td>
                        <p>
                            <a asp-page="/Students/Delete" asp-route-id="@student.Student_No">Delete Student</a>
                        </p>
                    </td>
                </tr>
            }
</table>
