@page
@model Obligatorisk_OPG.GetLeasingModel
@{
    ViewData["Dormitory"] = "GetLeasings";
}

<h4 style="color:red"> List of Leasings</h4>
<table class="table">
    <thead>
        <tr>
            <th> LeasingNo </th>
            <th> DateFrom  </th>
            <th> DateTo  </th>
            <th> StudentNo</th>
            <th> RoomNo</th>
            <th> DormitoryNumber</th>

        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Leasings)
        {
            <tr>
                <td>  @item.LeasingNo </td>
                <td> @item.DateFrom </td>
                <td> @item.DateTo </td>
                <td> @item.StudentNo </td>
                <td> @item.RoomNo </td>
                <td> @item.DormitoryNumber </td>

                <td>
                    <p>
                        <a asp-page="/Leasing/GetLeasing" asp-page-handler="LeasingByLeasingNo" asp-route-aid="@item.LeasingNo"> Delete Leasing  </a>
                    </p>
                </td>

            </tr>
        }
</table>

<a asp-page="/Leasing/CreateLeasing" class="btn btn-primary btn-block">Create New Leasing</a>