@page
@model Obligatorisk_OPG.Pages.Leasing.GetLeasing_StudentModel
@{
}
<h4 style="color:red"> List of Leasing in Student </h4>
<table class="table">
    <thead>
        <tr>
            <th> LeasingNo </th>
            <th> DateFrom </th>
            <th> DateTo </th>
            <th> StudentNo </th>
            <th> RoomNo </th>
            <th> DormitoryNumber </th>
        </tr>
    </thead>
    <tbody>

        @if (Model.Leasing_student != null)

            @foreach (var item in Model.Leasing_student)
            {
                <tr>
                    <td> @item.LeasingNo</td>
                    <td> @item.DateFrom</td>
                    <td>  @item.DateTo </td>
                    <td> @item.StudentNo</td>
                    <td> @item.RoomNo</td>
                    <td> @item.DormitoryNumber</td>

                </tr>
            }
</table>